@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Content/Images/home.jpg");
            background-repeat: no-repeat;
            background-size: 1535px 900px;
            color: white
        }

        h2, h3, address {
            background-color: black;
            opacity: 0.7;
            padding: 10px;
            margin: 20px;
        }
    </style>
</head>
<body>

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</body>
</html>